<app-navbar></app-navbar>
<div class="container-fluid  my-4">
  <div id="formContent" *ngFor="let note of notes" class="card p-3 m-auto" >
    <img *ngIf="note.image_url" class="card-img-top" [src]="note.image_url" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">{{note.text}}</p>
    </div>
  </div>

</div>
