
<div class="wrapper fadeInDown">
  <div id="formContent">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <input type="email" name="email" id="email" placeholder="email" class="fadeIn first" [(ngModel)]="user.email"
        email #email="ngModel" required>
      <div *ngIf="f.submitted && email.invalid" class="fadeIn second">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email must be a valid email address</div>
      </div>

      <input type="password" id="password" class="fadeIn second" placeholder="password" [(ngModel)]="user.password"
        name="password" #password="ngModel" required minlength="6" required>
      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">password must be at least 6 charecter</div>
        <div *ngIf="password.errors.patern">Email must be a valid email address</div>
      </div>
      <input type="submit" class="fadeIn fourth" value="login">
      <div>
        <span>or</span>
      </div>
      <a class="fadeIn fourth"[routerLink]="[ '/register' ]">Register</a>
    </form>

  </div>
</div>
